<h2>Resend confirmation instructions</h2>
<article class="user-forms-container">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: "user-form", method: :post }) do |f| %>
  <h1 class="title">Sultan of Stat</h1>
  <h2 class="form-title">Resend Confirmation</h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "user-input" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend Confirmation", class: "button button-form button-primary" %>
  </div>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
<% end %>

</article>