<h1>Sultan of Stat</h1>
<p>A statistically accurate baseball game with real players, real statistics and real fun!</p>

<h2>Welcome, <%= @user.username %></h2>
<ul>
    <li><%= link_to "Account", edit_user_registration_path(@user) %></li>
    <li><%= link_to "Leagues" %></li>
    <li><%= link_to "Tournaments" %></li>
    <li><%= link_to "Teams" %></li>
    <li><%= link_to "Players", all_players_path %></li>
    <li><%= link_to "Store" %></li>
</ul>

<ul>

<% @players.each do |p| %>
    <% user_has_player = false %>
    <% up = @userplayers.find_by(player_id: p.id) %>
    <% if up %>
        <% user_has_player = true %>
    <% end %>
    <li class="<%= user_has_player ? 'owned' : 'unowned' %>"><%= p.lname %>, <%= p.fname %> - <%= p.mlb_api_pid %> - <%= get_player_data(p.mlb_api_pid)["sport_hitting_tm"]["queryResults"]["row"]["cs"].to_i %></li>
<% end %>
</ul>
