<article class="user-forms-container">

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'user-form'}) do |f| %>
  <h1 class="title">Sultan of Stat</h1>
  <h2 class="form-title">Welcome Back!</h2>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "user-input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "user-input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field user-remember">
      <%= f.check_box :remember_me, class: "user-remember-box" %>
      <%= f.label :remember_me, class: "user-remember-label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "button button-primary" %>
  </div>
  
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
<% end %>

  
</article>
